@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic");

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans';
}

header{
	position: fixed;
	width:100%;
	height: 45px;
	background-color: #1E320C;
	margin:0 auto;
}
a{
	text-decoration: none;
}
.logo{
	float: left;
	margin-top:7px; 
	margin-left: 10px;
}
.logo a{
	font-size: 1.3em;
	color: #DCDED9;
}
.logo a span{
	font-weight: 300;
}
div#container{
	width:100;
	margin:0 ;
	padding-top: 45px;
}
.sidebar{
	width:250px;
	background-color: #232323;
	float: left;
	position: fixed;
}
.content {
width: auto;
margin-left: 250px;
height: 100vh; 
background-color: #D6EAC8;
padding: 15px;

}
.content p{
	color: #424242;
	font-size:0.73em;
}
nav ul{

}
nav ul li{
	list-style: none;

}
nav ul a{
	color: #DCDED9;
	display: block;
	padding:8px;
	font-size: 0.8em;
	border-bottom: 1px solid #28332B;	
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
nav ul a:hover{
	background-color: #2F3247;
	color:#fff;
}
nav ul .selected{
	background-color: #2F3247;
	color:#fff;

}
div#box{
	margin-top: 15px;

}
div#box .box-top {
	 	color :#fff;
	 	text-shadow:0px 1px	#000;
	 	background-color: #223541;
	 	padding: 5px;
	 	font-weight: 300; 	
	 	padding-left: 15px;
}
div#box .box-panel{
	padding: 15px;
	background-color: #fff;
}
a.mobile {
	width: 100%;
	display: block;
	color:#fff;
	background-color: #000;
	text-align: center;
	padding:7px;
	position: fixed;
}
a.mobile:active{
background-color: #4a4a4a;
}

@media only screen and (max-width: 451px){
	.sidebar{
		width:100%;
		height: auto;
		display: none;
		
	}
	.content{
		margin-left: 0px;
		height: auto;
	}
}

@media only screen and (min-width: 451px){
	a.mobile{
		display: none;
	} 
.sidebar{
	width:250px;
	height:100vh;
	background-color: #232323;
	float: left;
}
.content{
	height:auto;
}
}
